<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
</head>
<body>
    <h3>Create a new chat</h3>
    <form method="POST" action="/chats">
        <input type="text" name="from" placeholder="enter your name">
        <br><br>
        <textarea name="msg" placeholder="Enter the message"></textarea>
        <br><br>
        <input type="text" name="to" placeholder="enter recievers name">
        <br><br>
        <button>submit</button>
        <br><br>
    </form>
</body>
</html>